.form {
  margin: 7rem auto;
  width: 95%;
  /* height: 21rem; */
  max-width: 25rem;
  border-radius: 6px;

  background-color: #c5c7c7;
  box-shadow: 0 5px 10px black;
  padding: 1rem;
  text-align: center;
}

.form h2 {
  font-family: math;
}

.form input {
  border: 2px solid #c5c7c7;
  border-bottom-color: black;
  background-color: #c5c7c7;
}

.form input:focus {
  outline: none;
  box-shadow: none; /* Remove the blue outline on focus */
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(37, 217, 241);
  background-color: #c5c7c7;

  /* background-color: #c5c7c7; */
}

/* .form button {
  margin-top: 5px;
} */

.buttonOne {
  width: inherit;
  margin-top: 1rem;
}

.buttonTwo {
  border: 1px solid #c5c7c7;
  background-color: #c5c7c7;
  margin-top: 10px;
}
